<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="icon" href="/images/download.png">
    <title>About</title>
</head>

<body>
    <div class="mainSection">
        {{>header}}
        <p>
            This site was created by Samarth Sharma.It uses data from <b>mapbox</b>
            and <b>darksky</b> api for rendering results.
            On a side note this is my first ever express application , I'll be back after a year or so to see how much
            I've learned. See ya then .
        </p>
    </div>
    {{>footer}}
</body>

</html>