<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="mainSection">
        {{>header}}
        <p>
            This site was created by me (Samarth Sharma) during my summer vacations .It uses data from <b>mapbox</b>
            and <b>darksky</b> api for rendering results.
            On a side note this is my first ever express application , I'll be back after a year or so to see how much
            I've learned. See ya then .
        </p>
    </div>
    {{>footer}}
</body>

</html>