<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="icon" href="/images/download.png">
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <div class="mainSection">
        {{>header}}
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>


    </div>
    {{>footer}}
    <script src="./scripts/index.js"></script>

</body>

</html>