<head>

    <title>Weather</title>
    {{!-- <link rel="icon" href="/images/download.png"> --}}
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>